@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,500&display=swap&subset=cyrillic");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

header .mainLogo {
  margin-top: 40px;
  margin-right: 50px;
  text-align: center;
}
header .mainLogo img {
  width: 540px;
  height: 300px;
}
@media all and (max-width: 576px) {
  header .mainLogo img {
    width: 350px;
    height: 250px;
  }
}
header h1 {
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
}
@media all and (max-width: 576px) {
  header h1 {
    font-size: 50px;
  }
}
header h2 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  font-weight: 100;
  font-size: 40px;
}
header .rules {
  list-style: none;
  width: 70%;
  margin-left: 100px;
}
@media all and (max-width: 576px) {
  header .rules {
    margin-left: 60px;
  }
}
header .rules__item {
  font-size: 15px;
  margin-top: 20px;
  line-height: 25px;
  position: relative;
}
header .rules__item::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 40px;
  background-color: #ff5c39;
  position: absolute;
  left: -40px;
  top: 3px;
}
header .button__header {
  float: right;
  margin: 50px;
}
header .button__header:hover {
  box-shadow: 0 0 5px #ff5c39;
}
header .button__header a {
  color: #fff;
  text-decoration: none;
}
header .button__header span {
  font-size: 20px;
}

.button {
  color: #fff;
  background-color: #ff5c39;
  border-radius: 40px;
  font-size: 15px;
  padding: 5px 15px 10px 15px;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 0 5px #ff5c39;
}
.button a {
  color: #fff;
  text-decoration: none;
}
.button span {
  font-size: 20px;
  margin: 5px;
}

.footer {
  background-color: #05C3DE;
  padding: 30px 0;
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 15px;
  margin: 0;
  margin-top: 150px;
}
.footer h3 {
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 15px;
  margin: 0;
  margin-bottom: 10px;
}
.footer a {
  color: #fff;
}

.logo {
  height: 170px;
  width: 200px;
  margin: 30px;
}

.form {
  max-width: 600px;
  width: 100%;
  margin: auto;
  box-shadow: 0 5px 5px #C0C0C0;
}
.form h2 {
  background-color: #ff5c39;
  padding: 30px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 40px;
}
.form .circle {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  position: relative;
}
.form .circle__item {
  min-width: 17px;
  height: 17px;
  border-radius: 40px;
  background-color: #ff5c39;
  margin-bottom: 5px;
  cursor: pointer;
  line-height: 15px;
  color: #fff;
  font-size: 10px;
  font-weight: 100;
}
.form .circle .message {
  position: absolute;
  border-radius: 40px;
  box-shadow: 0 0 5px #ff5c39;
  font-size: 13px;
  font-weight: 100;
  width: 200px;
  height: 50px;
  padding: 5px;
  padding-top: 8px;
}
.form .circle .message__max {
  top: -30px;
  bottom: 0;
  left: 30px;
  right: 0;
  display: none;
}
.form .circle .message__min {
  top: 30px;
  bottom: 0;
  left: 30px;
  right: 0;
  display: none;
}

.form__buttons {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  position: relative;
}
.form__buttons .button__back {
  background-color: #05C3DE;
}
.form__buttons .button__back:hover {
  box-shadow: 0 0 5px #05C3DE;
}
.form__buttons .button__back span {
  margin-left: 0;
}
.form__buttons .button__further span {
  margin-right: 0;
}
.form__buttons .button__error {
  width: 150px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 0 5px #ff5c39;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 12px;
  line-height: 40px;
  font-weight: 100;
  text-align: center;
  display: none;
}

.players {
  display: none;
}
.players__formCounter {
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.players__formCounter .square {
  width: 35px;
  height: 40px;
  box-shadow: 0 3px 3px #C0C0C0;
  border: none;
  line-height: 40px;
  font-size: 20px;
  font-weight: 100;
}

.names {
  display: none;
}
.names__field {
  display: flex;
  flex-direction: column;
}
.names__fieldItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.names__fieldItem .circle__item {
  text-align: center;
  margin-left: 40px;
  margin-right: 30px;
  cursor: default;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
}
@media all and (max-width: 600px) {
  .names__fieldItem .circle__item {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.names__fieldItem input {
  padding: 5px;
  padding-left: 10px;
  height: 40px;
  width: 450px;
  box-shadow: 0 3px 3px #C0C0C0;
  border: none;
  font-size: 17px;
  font-weight: 100;
  overflow: hidden;
}
@media all and (max-width: 500px) {
  .names__fieldItem input {
    width: 300px;
  }
}
@media all and (max-width: 350px) {
  .names__fieldItem input {
    width: 250px;
  }
}

#names__fieldItem3 {
  display: none;
}
#names__fieldItem4 {
  display: none;
}
#names__fieldItem5 {
  display: none;
}
#names__fieldItem6 {
  display: none;
}
#names__fieldItem7 {
  display: none;
}
#names__fieldItem8 {
  display: none;
}

.playArea {
  display: none;
}
.playArea__playButton {
  margin: 15px auto 70px;
  text-align: center;
  width: 250px;
  height: 80px;
  border-radius: 80px;
  font-weight: 100;
  line-height: 80px;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #ff5c39;
  color: #fff;
}
.playArea__playButton:hover {
  box-shadow: 0 0 5px #ff5c39;
}
.playArea__circle {
  margin: auto;
  width: 400px;
  height: 400px;
  border: 2px solid #05C3DE;
  border-radius: 50%;
  position: relative;
}
.playArea__circle .arrow {
  width: 300px;
  height: 300px;
  background: url("../img/wine-bottle.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}
.playArea__circle-center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
}
.playArea__circleLine {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  font-size: 0;
  transform: rotate(0deg);
}
.playArea__circleLine .hidden {
  display: inline-block;
  font-size: 0;
  width: 50%;
  height: 2px;
  background: #333;
  visibility: hidden;
}
.playArea__circleLine .shown {
  display: inline-block;
  font-size: 0;
  width: 50%;
  height: 2px;
  background: #05C3DE;
}
.playArea__circle .circle__names {
  position: absolute;
  width: 100%;
  height: 100%;
}
.playArea__circle .circle__names .circle__name {
  width: 100px;
  height: 35px;
  background: #05C3DE;
  display: none;
  border-radius: 10px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  position: absolute;
}
.playArea__circle .circle__names--2 #circle__name1 {
  bottom: -50px;
  left: 38%;
}
.playArea__circle .circle__names--2 #circle__name2 {
  top: -50px;
  left: 38%;
}
.playArea__circle .circle__names--3 #circle__name1 {
  bottom: 2px;
  left: 88%;
}
.playArea__circle .circle__names--3 #circle__name2 {
  top: 47%;
  left: -125px;
}
.playArea__circle .circle__names--3 #circle__name3 {
  top: 2px;
  left: 88%;
}
.playArea__circle .circle__names--4 #circle__name1 {
  bottom: 8%;
  right: -90px;
}
.playArea__circle .circle__names--4 #circle__name2 {
  bottom: 8%;
  left: -90px;
}
.playArea__circle .circle__names--4 #circle__name3 {
  top: 8%;
  left: -90px;
}
.playArea__circle .circle__names--4 #circle__name4 {
  top: 8%;
  right: -90px;
}
.playArea__circle .circle__names--5 #circle__name1 {
  top: 75%;
  right: -105px;
}
.playArea__circle .circle__names--5 #circle__name2 {
  bottom: -50px;
  left: 8%;
}
.playArea__circle .circle__names--5 #circle__name3 {
  top: 45%;
  left: -125px;
}
.playArea__circle .circle__names--5 #circle__name4 {
  top: -50px;
  left: 13%;
}
.playArea__circle .circle__names--5 #circle__name5 {
  top: 50px;
  right: -95px;
}
.playArea__circle .circle__names--6 #circle__name1 {
  bottom: 75px;
  right: -100px;
}
.playArea__circle .circle__names--6 #circle__name2 {
  bottom: -55px;
  left: 150px;
}
.playArea__circle .circle__names--6 #circle__name3 {
  bottom: 75px;
  left: -100px;
}
.playArea__circle .circle__names--6 #circle__name4 {
  top: 70px;
  left: -105px;
}
.playArea__circle .circle__names--6 #circle__name5 {
  top: -55px;
  left: 150px;
}
.playArea__circle .circle__names--6 #circle__name6 {
  top: 70px;
  right: -105px;
}
.playArea__circle .circle__names--7 #circle__name1 {
  bottom: 90px;
  right: -100px;
}
.playArea__circle .circle__names--7 #circle__name2 {
  bottom: -45px;
  left: 245px;
}
.playArea__circle .circle__names--7 #circle__name3 {
  bottom: -10px;
  left: -30px;
}
.playArea__circle .circle__names--7 #circle__name4 {
  top: 180px;
  left: -120px;
}
.playArea__circle .circle__names--7 #circle__name5 {
  top: 0;
  left: -40px;
}
.playArea__circle .circle__names--7 #circle__name6 {
  top: -50px;
  right: 100px;
}
.playArea__circle .circle__names--7 #circle__name7 {
  top: 85px;
  right: -100px;
}
.playArea__circle .circle__names--8 #circle__name1 {
  bottom: 90px;
  right: -110px;
}
.playArea__circle .circle__names--8 #circle__name2 {
  bottom: -40px;
  left: 280px;
}
.playArea__circle .circle__names--8 #circle__name3 {
  bottom: -40px;
  left: 15px;
}
.playArea__circle .circle__names--8 #circle__name4 {
  bottom: 90px;
  left: -110px;
}
.playArea__circle .circle__names--8 #circle__name5 {
  top: 90px;
  left: -110px;
}
.playArea__circle .circle__names--8 #circle__name6 {
  top: -40px;
  left: 15px;
}
.playArea__circle .circle__names--8 #circle__name7 {
  top: -40px;
  left: 280px;
}
.playArea__circle .circle__names--8 #circle__name8 {
  top: 90px;
  right: -110px;
}
.playArea__modalChoose {
  position: absolute;
  z-index: 3;
  width: 100%;
  max-width: 600px;
  max-height: 360px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  display: none;
}
@media all and (max-width: 400px) {
  .playArea__modalChoose {
    max-height: 440px;
  }
}
.playArea__chooseButtonWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.playArea__chooseButton {
  width: 40%;
  min-width: 200px;
  height: 85px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  line-height: 85px;
  font-weight: 300;
  text-align: center;
  background: #fff;
  cursor: pointer;
  flex: 0 0 40%;
}
.playArea__chooseButton:hover {
  color: #ff5c39;
}
@media all and (max-width: 400px) {
  .playArea__chooseButton:first-child {
    margin-bottom: 20px;
  }
}
.playArea__chooseText {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-align: center;
  background: #ff5c39;
  padding: 30px;
  width: 100%;
  height: auto;
  color: #fff;
  margin-bottom: 50px;
}
.playArea__skipButton {
  width: 120px;
  height: 40px;
  background: #05C3DE;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 100;
  text-transform: capitalize;
  text-align: center;
  border-radius: 40px;
  margin: auto;
  cursor: pointer;
}
.playArea__card {
  width: 100%;
  max-width: 600px;
  min-height: 300px;
  max-height: 500px;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  top: 100px;
  padding-bottom: 30px;
  margin: auto;
  background: #fff;
  box-shadow: 0 0 10px #333333;
  display: none;
}
.playArea__card h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  background: #ff5c39;
  padding: 30px;
  width: 100%;
  height: auto;
  color: #fff;
}
.playArea__card p {
  width: 90%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: auto;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
  padding: 30px;
}
.playArea__card .doneButton {
  display: block;
  width: 120px;
  height: 40px;
  background: #05C3DE;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 100;
  text-transform: capitalize;
  text-align: center;
  border-radius: 40px;
  margin: auto;
  cursor: pointer;
  float: right;
  margin-right: 5%;
}
.playArea__card .doneButton span {
  margin-left: 10px;
}
.playArea__exitButton {
  width: 110px;
  height: 40px;
  position: absolute;
  outline: none;
  border-radius: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 17px;
  right: 30px;
  top: 35px;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  background: #05C3DE;
}
.playArea__logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
