header
    .container
        .row.justify-content-around
            .col-12.col-lg-6
                .mainLogo
                    img(src="img/logo-main.png", alt="Logo")
                    h1 Правда <br/> или <br/> действие
            .col-12.col-lg-6
                h2 Правила
                ul.rules
                    li.rules__item Вам должно быть больше 18 лет.
                    li.rules__item Никто не имеет права заставлять человека играть. Доверяйте друг-другу.
                    li.rules__item Каждый человек имеет право выйти из игры, если ему станет некомфортно.
                    li.rules__item Каждый человек имеет право отказаться отвечать на вопрос или выполнять действие.
                    li.rules__item Перед началом игры согласуйте личные правила, приемлимые лично для Вас.
                    li.rules__item Выпейте :)
                .button__header.button#headerOkay Все понятно <span>&#x27F6;</span>
    include ./footer.pug