section.playArea
    .playArea__playButton#playButton Крутить
    .playArea__circle#circle
        .playArea__circle-center
        .playArea__circleLine.playArea__circle--1#circle1
            .hidden
            .shown
        .playArea__circleLine.playArea__circle--2#circle2
            .hidden
            .shown
        .playArea__circleLine.playArea__circle--3#circle3
            .hidden
            .shown
        .playArea__circleLine.playArea__circle--4#circle4
            .hidden
            .shown
        .playArea__circleLine.playArea__circle--5#circle5
            .hidden
            .shown
        .playArea__circleLine.playArea__circle--6#circle6
            .hidden
            .shown
        .playArea__circleLine.playArea__circle--7#circle7
            .hidden
            .shown
        .playArea__circleLine.playArea__circle--8#circle8
            .hidden
            .shown

        .arrow

        .circle__names#circle__names
            p.circle__name#circle__name1
            p.circle__name#circle__name2
            p.circle__name#circle__name3
            p.circle__name#circle__name4
            p.circle__name#circle__name5
            p.circle__name#circle__name6
            p.circle__name#circle__name7
            p.circle__name#circle__name8

    .playArea__modalChoose#modalChoose
        h2.playArea__chooseText#chooseText
        .playArea__chooseButtonWrap
            .playArea__chooseButton#true Правда
            .playArea__chooseButton#action Действие
        .playArea__skipButton#modalChoose_skip Пропустить
    .playArea__card#card
        h2#card__heading
        p#card__task
        button.doneButton#done OK <span>&#x27f6;
    button.playArea__exitButton.exit#exit меню
    img(src="img/logo-main.png", alt="logo").playArea__logo
